@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* { margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}


body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    
   
}

/* headings and logo */

header { 
    text-align: center;
    color:#fff;
    background-color: black;
    font-size: 30px;
}



h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px; 
   
}

/* navigation links */

nav {
    color: #fff;
    background-color: black; 
}

#menu {
    
     font-size: 15px;
     letter-spacing: 3px;
     line-height: 100px;   
     text-align: center;
     display: flex;
     justify-content: space-evenly;
     align-items: center; 
    
     /* position:fixed;
     top: 0;
     left: 0; 
     right: 0;
     
    
     */
     
}


#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color:tomato;
}
   
#menu a:hover {
    color: blue;
}

/* #menu a:hover {
    border-bottom: 1px solid #3a3a3a;
} */

.active {
    border-bottom: 1px solid #3a3a3a;
} 

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-white {
	color: #FFFFFF;
}

.black-background {
    background-color: black;
}
/*
#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
    color: #483c32;
   
} */


/* Home section */

.home {
    width: 100%;
    padding: 80px 0;
    background-color: #181818;

}


/* background image */

.home img { 
    background: url("../images/basketball-image.jpg") no-repeat center center fixed; 
    background-size: cover;
    background-attachment: fixed;
   background-color: #464646; 
   height: auto;
   width: 500px;

} 

.home-text {
    width: 600px
    }

.main {
        width: 1130px;
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .home-text h2 
    {
        color: #fff;
        font-size: 40px;
        text-transform:capitalize;
        margin-bottom: 20px;
    }

    .home-text p {
        color:#fff;
        letter-spacing: 3px;
        line-height: 30px;
        font-size: 20px;
        margin-bottom: 50px;
    }


/* about section*/

.about {
    width: 100%;
    padding: 80px 0;
    background-color: #181818;
}

.about-text {
width: 600px
}

.second-main {
    width: 1130px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2 {
    color: #fff;
    font-size: 40px;
    text-transform:capitalize;
    margin-bottom: 20px;
}

.about-text p {
    color:#fff;
    letter-spacing: 3px;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 50px;
}
 
/* scrimmage session section*/

.scrimmage {
    vertical-align: top;
    display: inline-block;
    padding-right: 10px;
    width: 100%;
    padding: 80px 0;
    background-color: #181818;
}

.scrimmage-text {
    width: 600px;
}

.third-main {
    width: 1130px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.scrimmage-text h2 {
    color: #fff;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;

}

.scrimmage-text h3 {
    color: #fff;
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.scrimmage-text p {
     color:#fff;
    letter-spacing: 3px;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 50px;
}


/* Form */

.form-section {
    clear: left;
    background-size: cover;
    background-position: center;
    height: 900px;
    padding-right: 10px;
    width: 100%;
    padding: 80px 0;
    background-color: #181818;
}


.fourth-main {
    width: 1130px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.signup-form {
    margin: 100px 10% 0 0;
    color: #fff;
    background-color: rgba(90, 90, 90, 0.5);
    max-width: 700px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

 .signup-form > h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 40px;
    text-transform: capitalize;
}

.text-input {
     background: transparent;
     color: #fff;
     width: 100%;
     height: 25px;
     margin: 5px 0 20px 0;
     border-radius: 2px;
     border: 1px solid #fafafa;
 }
 
 .text-input:hover {
     border-color: #f16c6b;
     
}

/* contact */
  
.contact {
    font-weight: bold;
    width: 100%;
    padding: 80px 0;
    background-color: #181818;
    /* padding-right: 10px; */


  }

  .fifth-main {
    width: 1130px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-text h2 {
    color: #fff;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;

}

.contact-text span {
    color:#fff;
   letter-spacing: 3px;
   line-height: 30px;
   font-size: 20px;
   margin-bottom: 50px;
}

button {
    background:rgb(180, 30, 11);
    color: #fff; 
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 50px;
    transition: .5s;
}

button:hover {
    background: transparent;
    border: 2px solid rgb(180, 30, 11);
    cursor: pointer;
}

  /* #contact {
margin-bottom: 250px;
  } */
/* 
  .contact-box-center {
    width: 250px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
} */

/* Footer */

footer{
    height: 120px;
    background-color: #1c1a19;
    padding: 1em;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
    
}

a:hover {
	text-decoration: none;
	color: rgb(180, 30, 11);
}

.social-networks{
    text-align: center;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: silver;
    line-height: 1%;
}