@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* { margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
   
}

/* headings and logo */

h1, h2, h3{
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #483c32;
    color: #fff;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

.text-uppercase {
    text-transform: uppercase;
}
  

    /* basketball hoop image 

#basketball-hoop-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
} */

/* background image is always centered vertically and horizontally at all times */

html {
    
    /* background: url("../images/basketball-hoop-image.jpeg") no-repeat center center fixed; */
    background-size: cover;
    background-attachment: fixed;
   /* background-color: #464646; */
    background-color: #209c31;
    min-height: 100%;
}  

/* about us */

#about-us {
height: 600px;
color: white;
}

#pragraph-1 {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: darkorchid;
}

.p1 {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}
 
/* Create four equal columns that floats next to each other on scrimmage session section*/
.column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px; 
   
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* contact */
  
  .contact {
    font-weight: bold;
  }

/* Form */

.form-section {
    clear: left;
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

 .signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
     background: transparent;
     color: #fafafa;
     width: 100%;
     height: 25px;
     margin: 5px 0 20px 0;
     border-radius: 2px;
     border: 1px solid #fafafa;
 }
 
 .text-input:hover {
     border-color: #f16c6b;
     
}

/* Footer */

footer{
    height: 150px;
    background-color: #1c1a19;
    padding: 1em;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
    
}

.social-networks{
    text-align: center;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: silver;
    line-height: 40px;
}